* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #F5F5F5;  
    font-family: Arial, Helvetica, sans-serif;
}

.nav {
    background-color: #E60012;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 8vh;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    z-index: 1;
    opacity: 0.9;
}

.nav a img {
    width: 30px;
    margin: 20px;
}

#icon{
    width: 2vw;
    border: solid #FFCB05 6px;
    border-radius: 50%;
    margin-left: 5vw;
    transition: 2s;
    transform: rotate(-360deg);
}

#icon:hover{
    transition: 2s;
    transform: rotate(360deg);
}

#title{
    color: #ffffff;
    text-align: center;
}

#cancelar{
    display: none;
    margin: 5px;
}

.buscar{
    display: flex;
}

#name{
    border: white solid 2px;
    border-radius: 10px;
    text-align: center;
}

.boton{
    margin: 0px 10px;
    padding: 5px;
    background-color: #C64125;
    color: white;
    font-weight: bolder;
    border: #ffffff solid 2px;
    border-radius: 10px;
}

.boton:hover{
    color: black;
    background-color: #E71828;
    transition: 2;
    transform: scale(1.1);
    cursor: pointer;
    border: solid black 1px;
}

main{
    min-height: 77vh;
    background-color: Linen;
}

.modal {
    display: none; 
    position: fixed; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.5); 
  }
  
  .modal-content {
    position: relative;
    top: 8vh;
    background-image: radial-gradient(circle, #E1C7C0, #C64125);
    border: #FFCB05 solid 8px;
    border-radius: 20px;
    margin: 10% auto; 
    padding: 20px;
    width: 60%; 
    height: 50%;
    text-align: center;
  }

  .info{
    display: flex;
    padding: 10px;
    height: 90%;
  }

  .subcontenedor_izquierdo {
    width: 50%;
    height: 100%;
  }

  .subcontenedor_izquierdo img {
    width: 90%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .subcontenedor_derecho {
    width: 50%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .habilidades {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .habilidad {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    border: solid black 1px;
    border-radius: 20px;
    background-color: #FFCB05;
    font-size: 14px;
    padding: 10px;
    margin: 10px;
    
  }

  .movimientos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .movimiento {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    border: solid black 1px;
    border-radius: 20px;
    background-color: #FFCB05;
    font-size: 14px;
    padding: 10px;
    margin: 10px;
    
  }
  
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }  

.repositorio-tarjetas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 8vh;
}

.tarjeta{
    margin: 2% 4%;
    padding: 50%, 0;
    border: solid black 1px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: #FFCB05 solid 8px;
    background-image: radial-gradient(circle, #E1C7C0, #C64125);
    width: 15vw;
    height: 45vh;
    min-width: 200px;
}

.imagen {
    transform-style: preserve-3d;
    position: relative;
    transition: transform 1s;
    justify-content: center;
    align-items: center;
}

.imagen:hover {
    transition: transform 700ms;
    transform: rotateY(180deg);
}

.face {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    padding: 10%, 0;
}
.face.front {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.face.back {
    transform: rotateY(180deg);
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
}


/* .tarjeta:hover{
    transition: 2;
    transform: scale(1.15);
} */

.description{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: center;
}

.small_img{
    width: 30%;
    border: solid #FFCB05 10px;
    border-radius: 50%;
}

.base_experience{
    color: #E60012;
}

.line{
    margin: 5px 0px;
    width: 100%;
    color: black;
}

.types{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    border: solid black 1px;
    border-radius: 20px;
    background-color: #FFCB05;
    font-size: 14px;
}

.types p{
    text-align: center;
}

.pokemon{
    width: 60%;
    height: 40%;
    /* min-width: 115px; */
    border: #FFCB05 outset 4px;
    padding: 10px;
    margin-bottom: 10px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.3) 100%), 
            radial-gradient(ellipse at center, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 75%),
            linear-gradient(to right, #f7b733 0%, #fc4a1a 100%);
background-blend-mode: multiply, screen, normal;

}

/* Footer */
.footer{
    position: relative;
    margin-top: 8vh;
    background-color: #E60012;
    height: 15vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer a{
    color: white;
}



/* Media's */

@media (max-width: 480px) {
    /* Seleccionar el elemento del título */
    #title {
      display: none;
    }
  }
  